        <div class="panel" title="Title" id="listview" data-footer="none" selected="true">
            <ul class="list">
                <li>
                    <a href="#item1">
                        <div class="item-left">
                            <b>Mã báo giá : {{quoteId}}</b>
                            <i>Ngày báo giá : {{quoteDate}}</i>
                        </div>
                        <div class="item-right">
                            
                        </div>
                    </a>
                </li>   
            </ul>
        </div>