        <div id="af30" class="panel" title=".os">
            <p>$.os - holds information about the OS of the device, and if it is a webkit browser</p>
            <br>
            <div class="samplecode" > 
                $.os.webkit  = <script>document.write($.os.webkit);</script><br>
                $.os.android = <script>document.write($.os.android);</script><br>
                $.os.androidICS  = <script>document.write($.os.androidICS);</script><br>
                $.os.ipad = <script>document.write($.os.ipad);</script><br>
                $.os.iphone = <script>document.write($.os.iphone);</script><br>
                $.os.ios = <script>document.write($.os.ios);</script><br>
                $.os.ios7 = <script>document.write($.os.ios7);</script><br>
                $.os.webos = <script>document.write($.os.webos);</script><br>
                $.os.touchpad = <script>document.write($.os.touchpad);</script><br>
                $.os.playbook = <script>document.write($.os.playbook);</script><br>
                $.os.blackberry = <script>document.write($.os.blackberry);</script><br>
                $.os.blackberry10 = <script>document.write($.os.blackberry10);</script><br>
                $.os.chrome = <script>document.write($.os.chrome);</script><br>
                $.os.opera = <script>document.write($.os.opera);</script><br>
                $.os.fennec = <script>document.write($.os.fennec);</script><br>
                $.os.ie = <script>document.write($.os.ie);</script><br>
                $.os.ieTouch = <script>document.write($.os.ieTouch);</script><br>
                $.os.supportsTouch = <script>document.write($.os.supportsTouch);</script><br>
                $.os.tizen  = <script>document.write($.os.tizen);</script><br>
            </div>
        </div>