    <nav id="default_sidemenu" title="Menu">
        <ul class="list">
            <li>
                <a href="index.html?default">
                 <img src="images/avatar.png" style="width:30px height:30px" class="profile-image img-circle">
                </a>
            </li>
                <li>
                    <a class="fa fa-pencil-square-o" href="#/quote" data-ignore="true"> Báo giá</a>
                </li>
                <li>
                    <a class="fa fa-shopping-cart" href="index.html?default" data-ignore="true"> Đặt                            hàng</a>
                </li>
                <li>
                    <a class="fa fa-suitcase" href="index.html?android" data-ignore="true"> Hợp đồng</a>                </li>
                <li>
                  <a class="fa fa-phone" href="index.html?ios" data-ignore="true"> Cuộc gọi</a>
            </li>
                <li>
                    <a class="fa fa-users" href="index.html?ios7" data-ignore="true"> Cuộc họp</a>
            </li>
                <li><a class="fa fa-question-circle" href="index.html?android-light" data-ignore="true"> Thắc mắc, góp ý</a></li>
                <li><a class="fa fa-cog" href="index.html?win8" data-ignore="true"> Cài đặt</a></li>
                <li><a class="fa fa-sign-out" href="index.html?win8-light" data-ignore="true">Thoát</a></li>
        </ul>
    </nav>