    <nav id="default_sidemenu" title="Settings">
        <ul class="list">
            <li class="divider">UI Themes</li>
                <li><a class="theme theme-none" href="index.html" data-ignore="true">Auto detect theme</a></li>
                <li><a class="theme theme-default" href="index.html?default" data-ignore="true">Default theme</a></li>
                <li><a class="theme theme-ios" href="index.html?ios" data-ignore="true">iOS theme (iOS6 and previous)</a></li>
                <li><a class="theme theme-ios7" href="index.html?ios7" data-ignore="true">iOS 7 theme</a></li>
                <li><a class="theme theme-android" href="index.html?android" data-ignore="true">Android dark theme</a></li>
                <li><a class="theme theme-android-light" href="index.html?android-light" data-ignore="true">Android light theme</a></li>
                <li><a class="theme theme-win8" href="index.html?win8" data-ignore="true">Windows Phone 8 dark theme</a></li>
                <li><a class="theme theme-win8-light" href="index.html?win8-light" data-ignore="true">Windows Phone 8 light theme</a></li>
                <li><a class="theme theme-bb" href="index.html?bb" data-ignore="true">BlackBerry 10 theme</a></li>
            <li class="divider">Menus</li>
                <li><a href="#main" class="icon home">Trang chu</a></li>
                <li><a href="#gridview" class="icon camera" id="mn_photo">Hinh anh</a></li>
                <li><a href="#listview" class="icon mic" id="mn_record">Ghi am</a></li>
                <li><a href="#page4" class="icon info">Thong tin</a></li>
                <li><a href="#" class="icon key" id="mn_logout">Dang xuat</a></li>
        </ul>
    </nav>