
        <div class="panel" title="Register" id="signup" data-footer="none">
            <div style="text-align:center">
            <br>
            <br>
            <p>This is space for register message</p>
            <br>
            <br>
            </div>
            <input name="name" type="text" placeholder="Name" />
            <input name="email" type="text" placeholder="Email" />
            <input name="username" type="text" placeholder="username" id="username_reg"/>
            <input name="password" type="password" placeholder="password" id="password_reg"/>
            <input name="password2" type="password" placeholder="confirm password" id="password_reg_retype"/>
            <a class="button block green" href="#" id="register">Register</a>
        </div>