
        <div class="panel" title="Login" id="signin" data-footer="none">
            <div style="text-align:center">
            <br>
            <br>
            <p>This is space for login message</p>
            <br>
            <br>
            </div>
            <input name="username" type="text" placeholder="username" id="username_log" value="hien"/>
            <input name="password" type="password" placeholder="password" id="password_log" value="hien"/>
            <a class="button block green" href="#" id="login">Login</a>
        </div>